<ion-modal-view ng-cloak style='background-color: rgba(0,0,0,0.7);'>
	<ion-header-bar align-title='center' style='background-image: none;background-color: transparent;'>
		<h1 class="title" style='color:#FFFFFF;'></h1>
		<button class="button button-clear button-primary" ng-click="hideModal()" style='color:#FFFFFF;'>关闭</button>
	</ion-header-bar>
	<ion-content>
		<ion-slide-box>
			<ion-slide ng-repeat='item in manual'>
				<div style='padding:10px;text-align: center;'>
					<img ng-src='{{"/"+manualFilePath+"/500/"+item}}' style='width:100%;height:auto;' />
				</div>
			</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-modal-view>