<ion-modal-view ng-cloak>
	<ion-header-bar align-title='center' style='background-color: #A4684B;'>
		<h1 class="title" style='color:#FFFFFF;'>设置</h1>
		<button style='color:#FFFFFF;' class="button button-clear button-primary" ng-click="hideModal()">关闭</button>
	</ion-header-bar>
	<ion-content>
		<ul class="list">
			<li class="item item-toggle">
				<img src='/OSP/Mobile/Images/gravity.png' style='width:27px;height:24.5px;margin-right:15px;'/><span style='position: relative;top:-6px;'>重力感应</span>
				<label class="toggle toggle-calm">
      				 <input type="checkbox" ng-model='setting.gravity' ng-change="gravitySwitch()">
       				<div class="track">
       				  <div class="handle"></div>
      				 </div>
   				</label>
			</li>
			<li class="item item-toggle">
				<img src='/OSP/Mobile/Images/rotate.png' style='width:25px;height:24.5px;margin-right: 15px;'/><span style='position:relative;top:-6px;'>场景旋转</span>
				<label class="toggle toggle-balanced">
      				 <input type="checkbox" ng-model='setting.autorotate' ng-change='autorotateSwitch()'>
       				<div class="track">
        			 <div class="handle"></div>
    			   </div>
    		 	</label>
			</li>
		</ul>
	</ion-content>
</ion-modal-view>