<ion-modal-view ng-cloak>
	<ion-header-bar align-title='center' style='background-color:#A4684B;'>
		<h1 class="title" style='color:#FFFFFF;'>发表留言</h1>
		<button style='color:#FFFFFF;' class="button button-clear button-primary" ng-click="hideModal()">关闭</button>
	</ion-header-bar>
	<ion-content>
		<div class="list list-inset">
			<label class="item item-input">
              <div class="input-label">
              	标题<span style='color:red;'>*</span>
              </div>
              <input ng-model="data.cTitle" required type="text">
            </label>
			<label class="item item-input">
              <div class="input-label">
              	姓名<span style='color:red;'>*</span>
              </div>
              <input ng-model="data.cUsername" required type="text">
            </label>
			<label class="item item-input">
              <div class="input-label">
              	QQ
              </div>
              <input ng-model="data.cQQ" type="number">
            </label>
			<label class="item item-input">
              <div class="input-label">
              	邮箱
              </div>
              <input ng-model="data.cEmail" type="email">
            </label>
			<label class="item item-input">
              <div class="input-label">
              	手机
              </div>
              <input ng-model="data.cMobile" type="tel">
            </label>
			<label class='item item-input'>
            	<textarea required rows='7' ng-model='data.cContent' placeholder="在这里输入留言..." style='resize: none;'></textarea>
            </label>
		</div>
	</ion-content>
	<ion-footer-bar align-title='center'>
		<h1 class='title'>
			<button ng-click='writeMessage()' class='button button-brown' style='width:85%;height:35px;font-size:17px;line-height:35px;margin-top:7px;'>提交</button>
		</h1>
	</ion-footer-bar>
</ion-modal-view>