<?xml version="1.0" encoding="utf-8" ?>
<DcApplicationConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--<SQLConnString>server=192.168.1.7\SQL2012,1433;database=OSP;uid=sa;pwd=dcn123456</SQLConnString>-->
	<SQLConnString>Data Source=.;Initial Catalog=OSP;Integrated Security=True;</SQLConnString>
    <Logger>DBLogger</Logger>
    <LogFilePath></LogFilePath>
	<EmailSever></EmailSever>
	<EmailPort>25</EmailPort>
	<EmailUser></EmailUser>
	<EmailPassword></EmailPassword>
	<EmailName></EmailName>
	<EmailAddress></EmailAddress>
</DcApplicationConfigInfo>
