<?xml version="1.0" encoding="utf-8" ?>
<DcCacheConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <ServerList>127.0.0.1:9801</ServerList>
    <PoolName>Default</PoolName>
    <IntConnections>3</IntConnections>
    <MinConnections>3</MinConnections>
    <MaxConnections>1024</MaxConnections>
    <SocketConnectTimeout>1000</SocketConnectTimeout>
    <SocketTimeout>3000</SocketTimeout>
    <MaintenanceSleep>30</MaintenanceSleep>
    <FailOver>true</FailOver>
    <Nagle>false</Nagle>
    <MaxKeyListCount>2048</MaxKeyListCount>
</DcCacheConfigInfo>
